* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.authorization {
    width: 100%;
    height: 100px;
}

#signin {
    margin-left: 50px;
    margin-top: 30px;
}

#signup {
    margin-left: 20px;
    margin-top: 30px;
}

#profile-button {
    margin-left: 50px;
    margin-top: 30px;
}

#logout {
    margin-left: 20px;
    margin-top: 30px;
}

.site-name {
    text-align: center;
}

.about-us {
    width: 100%;
    height: 300px;
}

.about-us p {
    text-align: center;
    margin: auto;
    width: 450px;
    height: 300px;
}

.button-order {
    width: 100%;
    height: 100px;
}

.button-order {
    text-align: center;
}

.form {
    margin-bottom: 20px;
}

.switch-authorization {
    margin-bottom: 10px;
}